<h1>Exemplo de Manipulação de Array e Objetos em Javascript</h1>
    <div>
        <fieldset>
        <legend>Manutenção de Funcionários</legend>
            <p>Por favor, preencha os dados abaixo:</p>
            <div class="form-group">
                <label>CPF:</label>
                <input class="form-control" #cpf type="number">
            </div>
            <div class="form-group">
                <label>Nome:</label>
                <input class="form-control" #nome type="text">
            </div>
            <div class="form-group">
                <label>Cargo:</label>
                <input class="form-control" #cargo type="text">
            </div>
            <div class="form-group">
                <label>Salário:</label>
                <input class="form-control" #salario type="number">
            </div>
            <button (click)="adicionarFuncionario(cpf.value, nome.value, cargo.value, salario.value)">Adicionar</button>
        </fieldset>
    </div>

    <br>
    <br>

    <div class="list-label">
        <h2>Lista de funcionários</h2>
    </div>

    <br>
    <br>

    <div class="form-group">
        <button (click)="ordenarPorCpf(funcionarios)">Ordernar por Cpf</button>
    </div>
    <div class="form-group">
        <button (click)="ordenarPorNome(funcionarios)">Ordernar por Nome</button>
    </div>
    <div class="form-group">
        <button (click)="ordenarPorSalario(funcionarios)">Ordernar por Salário (DESC)</button>
    </div>
    <div class="form-group">
        <label>Salário maior que:</label>
        <input #filtro type="number">
    </div>
    <button (click)="filtrarPorSalario(filtro.value)">Filtrar</button>

    <br>
    <br>

    <div>
        <table>
            <tr class="table-header">
              <th>Cpf</th>
              <th>Nome</th>
              <th>Cargo</th>
              <th>Salário</th>
              <th>        </th>
            </tr>
            <tr *ngFor="let copia of funcionariosCopia">
              <td>{{copia.cpf}}</td>
              <td>{{copia.nome}}</td>
              <td>{{copia.cargo}}</td>
              <td>{{copia.salario}}</td>
              <td><button (click)="removerFuncionario(copia)">Remover</button></td>
            </tr>
          </table>
    </div>